body {
	background-color: #FBF8EF;
}

svg {
	background-color: white;
}

.box {
	stroke: steelBlue;
	stroke-width: 1.5;
	fill: lightSteelBlue;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.line {
  fill: none; /* very important, otherwise D3 will fill the area defined by the line */
  stroke: steelblue;
  stroke-width: 1.5px;
}
